header {
    width: 100vw;
    height: 10vh;
    overflow: hidden

}

.header {
    height: 100%;
    width: 100%;
    /* background-color: #a67c52; */
    /* From https://css.glass */
    /* From https://css.glass */
    background: rgba(46, 40, 40, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(46, 40, 40, 0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header:hover{
    background-color: transparent;
}

.title {
    /* width: 25%; */
    font-size: 2.7rem;
    /* color: ; */
}

.logo-div {
    width: 15%;
    /* height: 100%; */
    display: flex;
    align-items: center;
    object-fit: contain;
}

.logo-div>img {
    width: 100%;
}