
.home-container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #79b168;
  background-image:
    radial-gradient(circle, #6f9d44 12%, transparent 2%),
    radial-gradient(circle, #a67c52 12%, transparent 2%),
    radial-gradient(circle, #c2aa70 12%, transparent 2%);
  background-size: 1.25rem 1.25rem, 1.5625rem 1.5625rem, 1.875rem 1.875rem;
  background-position: 0 0, 0.625rem 0.625rem, -0.3125rem -0.3125rem;
  color: white;
}

*::selection {
  background-color: #a67c52;
}

.back-img {
  background-image: url('../assets/back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: white;
  font-size: 3rem;
  border-radius: 8px;
}
.blue{
  font-size: 5rem;
  color: #3478d1;
}

.black{
  color: black;
}

.red{
  font-size: 6rem;
  color: #d1345b;

}

  .retro-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    color: white;
    text-shadow: 0.125rem 0.125rem black;
    margin-bottom: 4.5rem;
  }

  .retro-buttons {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
  }

  /* Buttons */